{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block script %}{% endblock %}

{% block main %}
<div class="card" style="background-color: #fff; border-radius: 10px; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center;">
    <label>{{recipient_name}}</label>
    {% if recipient_gender == "female" %}
        <div class="wishing" style="font-size: 24px; margin: 20px 0;">Желаю тебе быть счастливой&#9825;</div>
    {% else %}
        <div class="wishing" style="font-size: 24px; margin: 20px 0;">Желаю тебе быть счастливым&#9825;</div>
    {% endif %}
    <p style="color: #333; margin-bottom: 10px;">{{message}}</p>
    <p class="sender" style="margin-top: 20px; font-weight: bold; font-size: 30px;">🔥{{sender_name}}🔥</p>
  </div>
{% endblock %}